{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<nav class="breadcrumbs">
<ul>
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
<li><span>{% trans 'Password reset' %}</span></li>
</ul>
</nav>
{% endblock %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}

<h1>{% trans 'Password reset complete' %}</h1>

<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>

{% endblock %}
