{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<nav class="breadcrumbs">
<ul>
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
<li><span>{% trans 'Password change' %}</span></li>
</ul>
</nav>
{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}<div id="content-main">

<form class="forms columnar" action="" method="post">{% csrf_token %}
<div>


<div class="row">
<h2>{% trans 'Password change' %}</h2>
</div>

{% if form.errors %}
    <p class="red">
    {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<fieldset>

<ul>
<li>
    
    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>{{ form.old_password }}
    {% for error in form.old_password.errors %}
    <span class="error">{{ error|escape }}</span>
    {% endfor %}
</li>

<li>
    
    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>{{ form.new_password1 }}
    {% for error in form.new_password1.errors %}
    <span class="error">{{ error|escape }}</span>
    {% endfor %}
</li>

<li>
    <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>{{ form.new_password2 }}
    {% for error in form.new_password2.errors %}
    <span class="error">{{ error|escape }}</span>
    {% endfor %}
</li>

<li class="push">
    <button class="btn" type="submit" class="default">{% trans 'Change my password' %}
    </button>
</li>
</fieldset>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}