{% extends "admin/index.html" %}
{% load i18n %}

{% if not is_popup %}
    {% block breadcrumbs %}
    <nav class="breadcrumbs">
        <ul>
            <li>
                <a href="{% url 'admin:index' %}">
                    {% trans 'Home' %}
                </a>
            </li>
            <li class="active">
                {% for app in app_list %}
                    <span>{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</span>
                {% endfor %}
            </li>
        </ul>
    </nav>
    {% endblock %}
{% endif %}

{% block sidebar %}{% endblock %}
