body {
	border-top: 5px solid #417690;
}

ul {
	margin-left: 0px;
	list-style:none;
}

#header {
	padding-top:15px;
}

#container {
	margin: auto;
	padding: 0 15px;
}

.compact td, .compact th {
	padding: 0.25em 0.5em;
}

table.hovered tbody tr:hover th {
  background-color: #f6f6f6;
}

.breadcrumbs {
	margin-bottom: 0;
}

.forms.columnar label {
	width: 25%;
	padding-top:2px;
}

#changelist .actions span.all,
#changelist .actions span.action-counter,
#changelist .actions span.clear,
#changelist .actions span.question {
	display:none;
}

.align-right {
	text-align: right;
}

#changelist-filter span {
	font-weight:bold;
}

#changelist-filter li.selected a {
	color:#000;
	text-decoration: none;
}

div.actions {
	margin-bottom:15px;
}

td img {
	vertical-align: middle;
}

#result_list thead {
	background-color: #f6f6f6;
}

th.action-checkbox-column {
	width: 1em;
}

div.selector {
	margin-left:170px;
	height:200px;
	overflow: auto;
	width: 100%;
	clear: both;
}

.selector h2 {
	font-size: 1em;
}

.selector select{
	width:200px;
	height:100px;
}

div.selector-available, div.selector-chosen, ul.selector-chooser {
	float:left;
	margin-right:20px;
}

div.selector input{
	width: auto;
}

.forms.columnar div.selector label{
	min-width: 0;
}

ul.selector-chooser {
	padding-top:50px;
}


div.selector-chose:after {
	clear: both;
}

.selector a {
	display:block;
}

p.errornote {
	color:#da3e5a;
	font-weight: bold;
}

div.add-row {
	margin-bottom:20px;
}

fieldset div.add-row {
	margin-bottom:0;
}

.info {
	color:#18a011;
}

#title h1, #title h2, #title h3, #title ul{
	margin-bottom: 0;
}

.clearable-file-input input[type=checkbox] {
	float:left;
	top: 6px;
	margin-right: 5px;
}

.forms.columnar .clearable-file-input label {
	width:auto;
}

div.submitLine {
	padding: 20px 0;
	margin: 0;
}

p.file-upload {
	margin-bottom: 0px;
}

textarea {
	height: 6em;
}

span.descr {
	vertical-align: top;
}

.empty-form {
	display: none;
}

li.errors {
	border-left: 3px solid #da3e5a;
}

ul.errorlist {
	color: #da3e5a;
	margin-left: 10px;
	font-weight:bold;
	font-style:italic;
}

.req, .required {
	font-weight:bold;
	color: #000;
}


.forms.columnar li fieldset section {
	min-width: 175px;
}


.forms.columnar li fieldset {
	padding-left: 27%;
}

.calendar table {
	margin-bottom:0.25em;
}

.calendar th, .calendar td{
	padding: 0.25em 0.4em;
}

p.calendar-cancel {
	margin-bottom:0;
	text-align:center;
}

.calendar-cancel a {
	color: #da3e5a;
}


a.calendarnav-next {
	float:right;
}


div.calendarbox {
	padding: 0.5em 1em;
	border: 1px dashed #ddd;
	border-radius: 10px;
	background-color: #fff;
	z-index: 10;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
textarea {
	width:45%;
}

input[type="text"].width-100,
input[type="password"].width-100,
input[type="email"].width-100,
input[type="url"].width-100,
input[type="phone"].width-100,
textarea.width-100 {
	width:98.6%;
}



input.vDateField {
	width: auto;
}

input.vTimeField {
	width: auto;
}

label {
	width:25%;
}

p.datetime {
	margin-left:272px;
}

@media only screen and (max-width: 767px) {

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="phone"],
	textarea {
		width:98.6%;
	}

	.forms.columnar li fieldset {
		padding-left: 0px;
	}

	p.datetime {
		margin-left: 0;
	}

	div.selector {
		margin-left:0;
	}

}